<div class="navbar navbar-expand-sm bg-pastel-red navbar-light fixed-top shadow-sm" style="padding-left: 15px; padding-right: 15px;">
    <span class="navbar-brand">
        Inside Football
    </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="/" class="nav-link btn btn-pastel-red">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/leaguesCollection" class="nav-link btn btn-pastel-red">Leagues</a>
        </li>
        <li class="nav-item">
            <a routerLink="/teams" class="nav-link btn btn-pastel-red">Teams</a>
        </li>
    </ul>


    <div class="form-inline ms-auto" style="margin-right: 10px;">
        <ng-container *ngIf="authService.isAuthenticated$ | async; else loggedOut">
            <button class="btn btn-outline-light" (click)="authService.logout()">Logout</button>
        </ng-container>
    
        <ng-template #loggedOut>
            <button class="btn btn-outline-light" (click)="authService.loginWithRedirect({
                        appState: { target: this.router.url }
                    })">
                Login
            </button>
        </ng-template>
    </div>
</div>
