<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col">
      <br>
      <h2 class="mb-4">Search for a Football Team by Name</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="query" placeholder="Enter team name...">
    <button class="btn btn-pastel-red" type="button" (click)="searchTeams()">Search by Name</button>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h2>Search for a Team by Wins</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="statQuery" placeholder="Enter stat value...">
        <button class="btn btn-pastel-red" type="button" (click)="searchTeamsByStats()">Search by Stats</button>
      </div>
    </div>
  </div>

  <!-- Button to find the best team -->
  <div class="row mt-3">
    <p>More than one team? Predict which team would win if they played eachother!</p>
    <div class="col">
      <button class="btn btn-pastel-red" type="button" (click)="findBestTeam()">Find Best Team</button>
    </div>
  </div>
</div>

  <!-- Display the best team -->
  <div class="row mt-3" *ngIf="bestTeam">
    <div class="col">
      <h2>Best Team</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GA</th>
            <th>GD</th>
            <th>GF</th>
            <th>GP</th>
            <th>PPG</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ bestTeam.team }}</td>
            <td>{{ bestTeam.stats.W }}</td>
            <td>{{ bestTeam.stats.D }}</td>
            <td>{{ bestTeam.stats.L }}</td>
            <td>{{ bestTeam.stats.GA }}</td>
            <td>{{ bestTeam.stats.GD }}</td>
            <td>{{ bestTeam.stats.GF }}</td>
            <td>{{ bestTeam.stats.GP }}</td>
            <td>{{ bestTeam.stats.PPG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Display search results for team name -->
  <div class="row mt-3" *ngIf="teams.length > 0">
    <div class="col">
      <h2>Search Results by Name</h2>
      <table class="table">
        <!-- Table headers -->
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GA</th>
            <th>GD</th>
            <th>GF</th>
            <th>GP</th>
            <th>PPG</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table rows -->
          <tr *ngFor="let team of teams">
            <td>{{ getKey(team) }}</td>
            <td>{{ team[getKey(team)].W }}</td>
            <td>{{ team[getKey(team)].D }}</td>
            <td>{{ team[getKey(team)].L }}</td>
            <td>{{ team[getKey(team)].GA }}</td>
            <td>{{ team[getKey(team)].GD }}</td>
            <td>{{ team[getKey(team)].GF }}</td>
            <td>{{ team[getKey(team)].GP }}</td>
            <td>{{ team[getKey(team)].PPG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

    <!-- Add canvas for the chart -->
    

  <!-- Display search results for team stats -->
  <div class="row mt-3" *ngIf="teamsByStats.length > 0">
    <div class="col">
      <h2>Search Results by Stats</h2>
      <table class="table">
        <!-- Table headers -->
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GA</th>
            <th>GD</th>
            <th>GF</th>
            <th>GP</th>
            <th>PPG</th>
          </tr>
        </thead>
        <tbody>
          <!-- Table rows -->
          <tr *ngFor="let team of teamsByStats">
            <td>{{ team.team }}</td>
            <td>{{ team.stats.W }}</td>
            <td>{{ team.stats.D }}</td>
            <td>{{ team.stats.L }}</td>
            <td>{{ team.stats.GA }}</td>
            <td>{{ team.stats.GD }}</td>
            <td>{{ team.stats.GF }}</td>
            <td>{{ team.stats.GP }}</td>
            <td>{{ team.stats.PPG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col">
    <h2>Team Statistics</h2>
    <canvas #canvas></canvas>
  </div>
</div>

</div>
