<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-4">Search for a Football Team</h1>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="query" placeholder="Enter team name...">
        <button class="btn btn-primary" type="button" (click)="searchTeams()">Search by Name</button>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <h2>Search by Stats</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="statQuery" placeholder="Enter stat value...">
        <button class="btn btn-primary" type="button" (click)="searchTeamsByStats()">Search by Stats</button>
      </div>
    </div>
  </div>

  <!-- Display search results for team name -->
  <div class="row mt-3" *ngIf="teams.length > 0">
    <div class="col">
      <h2>Search Results by Name</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GA</th>
            <th>GD</th>
            <th>GF</th>
            <th>GP</th>
            <th>PPG</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{ getKey(team) }}</td>
            <td>{{ team[getKey(team)].W }}</td>
            <td>{{ team[getKey(team)].D }}</td>
            <td>{{ team[getKey(team)].L }}</td>
            <td>{{ team[getKey(team)].GA }}</td>
            <td>{{ team[getKey(team)].GD }}</td>
            <td>{{ team[getKey(team)].GF }}</td>
            <td>{{ team[getKey(team)].GP }}</td>
            <td>{{ team[getKey(team)].PPG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Display search results for team stats -->
  <div class="row mt-3" *ngIf="teamsByStats.length > 0">
    <div class="col">
      <h2>Search Results by Stats</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Team</th>
            <th>W</th>
            <th>D</th>
            <th>L</th>
            <th>GA</th>
            <th>GD</th>
            <th>GF</th>
            <th>GP</th>
            <th>PPG</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teamsByStats">
            <td>{{ team.team }}</td>
            <td>{{ team.stats.W }}</td>
            <td>{{ team.stats.D }}</td>
            <td>{{ team.stats.L }}</td>
            <td>{{ team.stats.GA }}</td>
            <td>{{ team.stats.GD }}</td>
            <td>{{ team.stats.GF }}</td>
            <td>{{ team.stats.GP }}</td>
            <td>{{ team.stats.PPG }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
